@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Outfit', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background: #111111;
	align-items: center;
	color: #fafafa;
}

img {
	border-radius: 100px;
	height: 180px;
	width: 180px;
	border: 5px solid #0761d1;
}

main {
	background: #333;
	border-radius: 1rem;
	width: 100%;
	display: flex;
	max-width: 980px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
	margin: 0.5rem;
	width: 100%;
	padding-left: 16px;
}

.form input, button {
	border-radius: 32px;
	height: 2.5rem;
	border: none;
	font-size: 1rem;
	padding: 0 16px;
	background: #111;
	color: rgba(250, 250, 250,1);
}


.form input {
	width: 100%;
	max-width: 330px;
}

.form button {
	cursor: pointer;
	width: 100%;
	max-width: 200px;
	
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 60px;
	margin: 0.9rem;
	background: #222;
	border-radius: 1rem;
}

.content img {
	margin-bottom: 16px;
}

.content p {
	line-height: 1.5;
	text-align: center;
}